
{% extends "base.html" %}

{% block content %}

<div class="row">
    <nav>
    <div class="nav-wrapper">
<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="collapsible.html">Sports Categories</a></li>
        <li><a href="collapsible.html">Events</a></li>
        <li><a href="myprofile.html">My Profile</a></li>
        <i class="large material-icons">account_circle</i>

      </ul>
        <div class="col m3 l3">

            <font face = "Comic Sans MS" size =" 6">SportUP</font><br />
        </div>

        <form>

        <div class="input-field col m3 l3">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
        </form>
    </div>
    </nav>



<div class="row">
      <div class="col s4"></div>
      <div class="col s4"></div>
      <div class="col s4"></div>
    <p><b><font size="7">News</font></b></p>
<div class="row">
   <hr style="border: 2px solid black;" />
</div>
</div>




<div class="row">
    <div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
          <img src="/static/bryant.jpg" width="320" height="230">
        </div>
        <div class="card-content">
          <a href='https://michiganchronicle.com/2020/01/29/remembering-the-life-of-kobe-bryant/'style="color:blue"><p><b><font size="5">Remembering the
          life and career of Kobe Bryant.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>




<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
          <img src="/static/usain-bolt.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://edition.cnn.com/2020/02/14/sport/usain-bolt-tokyo-2020-olympics-spt-intl/index.html'style="color:blue"><p><b><font size="5">Usain Bolt
           says he considered coming out of retirement.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
</div>




<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
          <img src="/static/ronaldo.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://edition.cnn.com/2020/02/14/football/cristiano-ronaldo-juventus-ac-milan-spt-intl/index.html'style="color:blue"><p><b><font size="4">Cristiano Ronaldo continues 2020 goal glut with last-gasp penalty
           to save Juventus.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
</div>



<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
          <img src="/static/corona.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://edition.cnn.com/2020/02/14/sport/olympics-tokyo-2020-coronavirus-spt-intl/index.html'style="color:blue"><p><b><font size="4">Tokyo Olympics 'on track' with no contingency
           plans in place amid coronavirus outbreak.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>
</div>

<div class="row">
      <div class="col s4"></div>
      <div class="col s4"></div>
      <div class="col s4"></div>
<div class="row">
      <div class="col s4"></div>
      <div class="col s4"></div>
      <div class="col s4"></div>
    <p><b><font size="7">The year’s best sports photos</font></b></p></a>
<div class="row">
   <hr style="border: 2px solid black;" />
</div>
</div>



<div class="row">
    <div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
           <img src="/static/jennifer.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://www.tmz.com/2020/02/02/jennifer-lopez-shakira-rock-miami-super-bowl-pepsi-halftime-show/'style="color:blue"><p><b><font size="5">JENNIFER LOPEZ & SHAKIRA
             ROCK MIAMI W/ HALFTIME SHOW ...</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>



<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
           <img src="/static/nana.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://www.history.com/this-day-in-history/tiger-woods-wins-first-major'style="color:blue"><p><b><font size="3">Tiger Woods celebrates after winning the Masters golf
          tournament on April 14. It was his first major victory in 11 years.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
</div>




<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
           <img src="/static/ski.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='http://eventsinrussia.com/en/event/10048'style="color:blue"><p><b><font size="3">Skiers start the annual Ski Track of Russia just outside of
          Moscow on February 9. About 20,000 amateurs competed in the event.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
</div>



<div class="col m3 l3">
      <div class="card medium">
        <div class=""card medium"">
           <img src="/static/diving.jpg" width="320" height="230">
        </div>
        <div class="card-content">
           <a href='https://cliffdiving.redbull.com/da_US/article/hunt-and-iffland-win-philippines-paradise'style="color:blue"><p><b><font size="2">Rhiannan Iffland jumps off a rock pinnacle in Palawan, Philippines,
          during the first stop of the Red Bull Cliff Diving World Series on April 12.</p></b></font></a>
        </div>
        <div class="card-action">

        </div>
      </div>
    </div>

</div>


 </div>
</div>



<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
</ul>


{% endblock %}