{% extends "base.html" %}

{% block content %}


<div class="row">
      <div class="col s6"></div>
      <div class="col s6"></div>
</div>
<div class="row">
      <div class="col s6"></div>
      <input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">
      <div class="col s6"></div>

</div>





{% endblock %}